[user]
	name     = Jeff Bencin
	email    = jeff.bencin@gmail.com
[core]
	editor   = vim
[alias]
	cr       = clone --recursive
	st       = status
	ci       = commit
	br       = branch
	co       = checkout
	sb       = show-branch
	cpk      = cherry-pick
	lg       = log --graph --date=short --pretty=format:'%C(green)%h %C(magenta)(%ar)%C(yellow)%d %C(cyan)%an: %C(reset)%s' --date-order 
	hist     = log --graph --date=short --pretty=format:'%C(green)%h %C(magenta)(%ar)%C(yellow)%d %C(cyan)%an: %C(reset)%s' --date-order --all
	tree     = forest --pretty=format:'%C(green)%h %C(magenta)(%ar) %C(cyan)%an: %C(reset)%s'
	trees    = forest --pretty=format:'%C(green)%h %C(magenta)(%ar) %C(cyan)%an: %C(reset)%s' --all
	subinit  = submodule update --init --recursive
	subclean = submodule foreach --recursive 'git clean -fxd' 
	maxgc    = gc --prune=now --aggressive
	pullall  = pull --recurse-submodules --rebase
	pushall  = push --recurse-submodules=on-demand
	ad       = "!f(){ git add $* && git status -s; };f"
[color]
	ui       = always
