[user]
	name = Jeff Bencin
	email = jeff.bencin@telosalliance.com
[core]
	editor = vim
[alias]
	st   = status -uno
	ci   = commit
	br   = branch
	co   = checkout
	lg   = log --oneline --abbrev-commit --all --graph --decorate --color
	tree = forest --pretty=format:\"%C(red)%h %C(magenta)(%ar) %C(blue)%an %C(reset)%s\" --style=15 --reverse
	subinit = submodule update --init --recursive
	maxgc = gc --prune=now --aggressive
[color]
	ui = true
[push]
	default = simple
